$main-color: #770400;
$secondary-color: #f6b000;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: Poppins;
}

.btn {
    outline: none;
}

.btn-main {
    background: $main-color;
    color: #fff;
}

body {
    position: relative;
}

.wrapper {
    width: 87%;
    margin: auto;
    padding: 1rem;
}


.form-control {
    background: #efefef;
    border: 1px solid #ccc;
    height: 55px;
    border-radius: 0.75rem;
}

textarea {
    min-height: 70px;
}

.btn {
    height: 50px;
    border-radius: 0.75rem;

    & + small {
        font-weight: 500;
        font-size: 1rem;

        a {
            color: $main-color;
        }
    }
}

.account-wrapper {
    min-height: 100vh;
    background-image: url(../img/login_bg.jpg);
    background-size: cover;
    color: #333;
    display: grid;
    place-items: center;

    .account-form {
        background-color: #fff;
        box-shadow: 0 0 37px rgb(8 21 66 / 5%);
        border-radius: 3px;
        width: 480px;
        padding: 2rem 2.5rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;

        img {
            margin: auto;
            display: block;
        }

        h1 {
            text-align: center;
            font-size: 1.6rem !important;
        }

        h3 {
            font-size: 1.12rem !important;
            text-align: center;
            margin-bottom: 1.7rem;
            color: $main-color;
        }

        /*.form-control {
            background: #efefef;
            border: 1px solid #ccc;
            height: 55px;
            border-radius: 0.75rem;
        }

        .btn {
            height: 48px;
            border-radius: 0.75rem;

            & + small {
                font-weight: 500;
                font-size: 1rem;

                a {
                    color: $main-color;
                }
            }
        }*/
    }
}

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.4);
    z-index: 100;

    .wrapper {
        margin: 1rem auto;

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;

            label {
                ion-icon {
                    font-size: 2rem;
                    cursor: pointer;
                }
            }

            ul {
                display: flex;
                align-items: center;

                li {
                    margin: 0rem 1.5rem;

                    a {
                        color: #000;
                    }

                    &:last-child {
                        margin-right: 0rem;
                    }

                    .link-icon {
                        ion-icon {
                            font-size: 1.8rem;
                        }
                    }

                    .link-text {
                        font-weight: 500;
                    }

                    .link-btn {
                        padding: .7rem 1.2rem;
                        background: $main-color;
                        color: #fff;
                        border-radius: 30px;
                        font-size: .95rem;
                    }
                }
            }
        }
    }
}


//main menu styles
#mobile-nav-toggle {
    display: none;

    &:checked + .mobile-menu-wrapper {
        left: 0;

        .mobile-menu-inner {
            left: 0;
        }
    }
}

.mobile-menu-wrapper {
    position: fixed;
    height: 100%;
    width: 100%;
    left: -100%;
    top: 0;
    bottom: 0;
    z-index: 210;

    .mobile-menu {
        position: relative;
        height: 100%;
        width: 100%;
        background: rgba(255,255,255,0.7);

        .menu-divider {
            margin: 2rem 0rem;
            border: 1px solid #ccc;
        }

        label {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            cursor: pointer;
        }

        .mobile-menu-inner {
            position: absolute;
            width: 310px;
            height: 100%;
            left: -310px;
            top: 0;
            background: #fff;
            padding: 2rem;
            transition: left 300ms;
            transition-delay: 200ms;

            .menu-logo {
                text-align: center;
                margin-bottom: 1rem;
            }

            .menu-block {

                li {
                    margin-bottom: 1rem;

                    a {
                        color: #000;
                    }

                    ion-icon {
                        font-size: 1.2rem;
                        margin-right: .5rem;
                        color: #999;
                    }

                    .link-item {
                        display: flex;
                        align-items: center;
                        font-weight: 500;
                        padding: 0rem 1rem;
                        font-size: 1rem;
                    }
                }

                
                &.main {
                    li {
                        &:first-child {
                            margin-bottom: 2rem;
    
                            .link-item {
                                background: $main-color;
                                color: #fff;
                                padding: .8rem 1rem;
                                border-radius: 30px;
    
                                ion-icon {
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.map-wrapper {
    border-radius: 8px;
    overflow-x: hidden;
    margin: auto;
}

h3 {
    font-size: 1.8rem !important;
    margin-bottom: 1rem;
    text-align: center;
}

.p2 {
    padding: 1rem;
}

.slider-wrapper {
    position: fixed;
    height: 220px;
    width: 100%;
    right: 0;
    left: 0;
    bottom: 0;
    background: transparent;
    padding: 1rem 0rem;
    padding-bottom: 16.5rem;
}

.swiper-container {
    width: 100%;
    min-height: 240px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    border: 1px solid rgb(229, 233, 242);
    border-radius: 4px;
    position: relative;
    overflow-y: hidden;
    min-height: 240px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}

.swiper-slide.swiper-slide-active {
    border: 1px solid #efefef;
}

.slider-flex {
    display: grid;
    grid-template-columns: 164px auto;
    align-items: center;
    grid-gap: 0rem;
    cursor: pointer;
    position: relative;
    height: 240px;

    .rest-img-card {
        margin-left: .7rem;
        border-radius: 4px;
        height: 216px;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;

        ion-icon {
            position: absolute;
            z-index: 100;
            color: #fff;
            top: 10px;
            right: 10px;
            font-size: 1.6rem;
        }
    }

    .rest-info-card {
        text-align: left;
        padding: 1rem !important;
        overflow-x: hidden;

        h4 {
            margin-bottom: 0rem !important;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        .rest-address-card {
            color: #777;
            display: inline-block;
            text-transform: lowercase;
            font-size: .93rem;
            padding: .6rem 0rem;
            border-bottom: 1px solid #ccc;
            margin-bottom: .7rem;
            width: 100%;
        }

        .rest-desc-card {
            font-size: .95rem;
            margin-bottom: 1rem;
        }

        p {
            color: #333;
            text-transform: lowercase !important;
        }

        .rest-star-card {
            ion-icon {
                color: $secondary-color;
            }
        }

        .rest-space-between {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.carousel-cell {
    width: 480px;
    height: 240px;
    margin-right: 1.2rem;
    background: #fff;
    border-radius: 2px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}

.carousel-flex {
    display: grid;
    grid-template-columns: 164px auto;
    align-items: center;
    grid-gap: 0rem;
    cursor: pointer;
    position: relative;
    height: 240px;

    .rest-img-card {
        margin-left: .7rem;
        border-radius: 4px;
        height: 216px;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;

        ion-icon {
            position: absolute;
            z-index: 100;
            color: #fff;
            top: 10px;
            right: 10px;
            font-size: 1.6rem;
        }
    }

    .rest-info-card {
        text-align: left;
        padding: 0rem 1rem 1rem 1rem !important;
        overflow-x: hidden;

        h4 {
            margin-bottom: 0rem !important;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            font-size: 1.02rem;
            font-weight: 600;
        }

        .rest-address-card {
            color: #777;
            display: inline-block;
            text-transform: lowercase;
            font-size: .93rem;
            padding: .6rem 0rem;
            border-bottom: 1px solid #ccc;
            margin-bottom: .7rem;
            width: 100%;
        }

        .rest-desc-card {
            font-size: .95rem;
            margin-bottom: 1rem;
        }

        p {
            color: #333;
            text-transform: lowercase !important;
        }

        .rest-star-card {
            ion-icon {
                color: $secondary-color;
            }
        }

        .rest-space-between {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.info-modal {
    background: #fff;
    height: 100%;
    width: 400px;
    position: absolute;
    left: -400px;
    top: 0;
    bottom: 0;
    z-index: 200;
    transition: left 500ms;
}

.info-modal .close {
    text-align: right;
    margin-bottom: 1rem;
}

.info-modal .close button {
    outline: none;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: $secondary-color;
    cursor: pointer;
}

.info-modal.active {
    left: 0rem;
}

.bounce {
    display: none;
}

.highlight {
    color: $secondary-color !important;
}

.info-window-card {
    padding: .3rem;

    h4 {
        font-size: 1.1rem !important;
    }
}

//New restaurant
.page-jumbotron {
    height: 40vh;
    background-image: url(../img/login_bg.jpg);
    background-size: cover;
}

.new-rest-form {
    position: relative;
    top: -8rem;
    width: 600px;
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 37px rgb(8 21 66 / 5%);
    margin: auto;

    &.rest-list {
        width: 75%;
    }

    &.edit {
        top: 0;
        position: static;
    }

    h4 {
        margin-bottom: 1.1rem;
    }
}

.edit-rest-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    z-index: 200;
    background: rgba(0,0,0,0.6);

    .rest-modal-wrapper {
        position: relative;

        .rest-modal-close {
            position: absolute;
            right: -20px;
            top: -20px;
            height: 50px;
            width: 50px;
            border: 0;
            outline: 0;
            border-radius: 50%;
            display: grid;
            place-items: center;
            cursor: pointer;

            ion-icon {
                font-size: 1.7rem;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .hide-sm {
        display: none;
    }

    .carousel-cell {
        width: 97%;
    }

    .new-rest-form {
        width: 80%;

        &.rest-list {
            width: 90%;
        }
    }

    .page-jumbotron {
        height: 30vh;
        background-image: url(../img/login_bg.jpg);
        background-size: cover;
    }
}

@media only screen and (max-width: 500px) {
    .account-form {
        width: 100% !important;
    }

    .new-rest-form {
        width: 100%;

        &.rest-list {
            width: 100%;
        }
    }

    .rest-modal-wrapper {
        width: 90%;
    }
}